@model IEnumerable<FlowMonitoringInsp.Models.Telog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TelogName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiteID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TelogName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SiteID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TelogID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TelogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TelogID })
        </td>
    </tr>
}

</table>
