@model IEnumerable<FlowMonitoringInsp.Models.Site>

@{
    ViewBag.Title = "All Sites";
}

<h2>All Sites</h2>

<p>
    @Html.ActionLink("Create New", "SiteAdd")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteDisplayName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SiteDisplayName)
        </td>
        <td>
            @Html.ActionLink("Edit", "SiteEdit", new { id = item.SiteID }) |
            @Html.ActionLink("Details", "Details", new { id = item.SiteID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SiteID })  |
            @Html.ActionLink("Equipment", "SiteDetails", new { id = item.SiteID })
        </td>
    </tr>
}

</table>
