@model FlowMonitoringInsp.Models.Manhole

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Manhole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ManholeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManholeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeavyTraffic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeavyTraffic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.H2S)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.H2S)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Oxygen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oxygen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ManholeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
